// Add heading self links support
h2,
h3,
h4,
h5,
h6 {
	a.anchor {
		@extend .td-heading-self-link;

		display: inline-block;
		width: 1.5em;
		margin-left: -1.5em;

		&::before {
			@extend .fa-solid;

			font-size: 0.8em;
			vertical-align: middle;

			content: '\f0c1';
		}
	}
}

.admonitionblock td.content>.title,
.audioblock>.title,
.exampleblock>.title,
.imageblock>.title,
.listingblock>.title,
.literalblock>.title,
.stemblock>.title,
.openblock>.title,
.paragraph>.title,
.quoteblock>.title,
table.tableblock>.title,
.verseblock>.title,
.videoblock>.title,
.dlist>.title,
.olist>.title,
.ulist>.title,
.qlist>.title,
.hdlist>.title {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.admonitionblock {
	&>table {
		@extend .alert;

		&>tbody>tr>td {
			display: block;
			border: none;
			box-shadow: none !important;
			color: inherit !important;
			padding: 0 !important;

			&.icon {
				margin-bottom: 0.5rem;

				&>i::before {
					font-family: var(--bs-body-font-family);
					font-style: normal;
					font-size: 1.35em;
					font-weight: 500;
					line-height: 1.2;

					content: attr(title);
				}
			}

			&.content {
				margin-bottom: 1rem;
			}
		}
	}

	@each $color, $value in $theme-colors {
		&.#{$color}>table {
			@extend .alert-#{$color};

			&>tbody>tr>td.icon>i::before {
				color: $value;
			}
		}
	}
}
